@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
  --foreground-alpha: #00000055;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground-alpha: #ffffff55;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground-alpha);
  border-radius: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
